* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

html {
    background-color: #36413e;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}